<!-- <div class="navigation">
  <ul>
    <li><a href="#/links" class="index">All Links</a></li>
    <li><a href="#/shorten" class="create">Shorten</a></li>
  </ul>
  <a href="#/logout" class="logout">Logout</a>
</div> -->



<div id="container" ng-controller="ShortenController">
  <div class="creator">
    <form>
      <input class="text" type="text" name="url" ng-model="link.url" ng-change="checkUrl()" id="url">
      <input type="submit" value="Shorten" ng-click="submit(link)">
    </form>
    <img class="spinner" src="assets/spiffygif_46x46.gif" ng-show="loading">
    <div class="message"> {{ urlStatus }}</div>
  </div>
</div>


